body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 2em 1em;
    background-color: $black;
    font-family: $fontPrimary;
    font-size: 14px;

    .header,
    .main {
        width: 100%;

        @media (min-width: 768px) {
            width: 70%;
            max-width: 500px;

        }

        @media (min-width: 1024px) {
            width: 50%;
            max-width: 450px;
        }
    }
    .header {
        margin-bottom: 1em;
        @media (min-width: 768px) {
            margin-bottom: 2em;
        }
        .header__title {
            font-size: 1em;
            text-align: center;
            color: $grey-50;
        }
    }
    .main {
        .section {
            display: flex;
            justify-content: space-between;
            background-color: $grey-70;
        }
    }
}