@mixin btn--primary(){
    border: 0;
    outline: 0;
    display: flex;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 1em;
    font-family: $fontPrimary;
    font-weight: 600;
    text-transform: uppercase;
    color: $grey-70;
    background-color: $green;
    border: .15em solid transparent;
}

@mixin img--btn($size) {
    width: $size;
    height: $size;
}